@using Aphrodite.Front.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="fd-background-color">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="login-form">
                    <img src="@Url.Content("~/Content/img/facedate_logo_normal.png")" class="img-responsive center-block" />

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationMessage("InvalidLogin", new { @class = "text-danger-light" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "txt-input", placeholder = "E-mailadres", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger-light" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "txt-input", placeholder = "Wachtwoord" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-light" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inloggen" class="login-btn" />
                        </div>
                        <div class="form-group">
                            <div class="footer-nav-link">
                                @Html.ActionLink("Registreer nu!", "Register")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>