@model Aphrodite.Front.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FaceDate</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-header">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img src="@Url.Content("~/Content/img/facedate_logo_normal.png")" class="img-responsive center-block" />
       </div>
         </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="reg-form">
                     @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="input-group">
                                <div class="col-md-6 gender-left">
                                    <label>Ik ben een</label>
                                    @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })
                                </div>
                                <div class="col-md-6 pref-right">
                                    <label>en ben op zoek naar</label>
                                    @Html.EnumDropDownListFor(m => m.SexualPreference, new { @class = "form-control" })
                                </div>
                                    </div>
                            </div>
                         <hr />
                    <div class="form-group">                         
                            @Html.ValidationMessageFor(m => m.DisplayName)
                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Voornaam", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mailadres", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <label>Geboortedatum:</label>
                        @Html.ValidationMessageFor(m => m.BirthDay)
                        @Html.ValidationMessageFor(m => m.BirthDayDay)
                        @Html.ValidationMessageFor(m => m.BirthDayMonth)
                        @Html.ValidationMessageFor(m => m.BirthDayYear)
                        <div class="input-group">
                        <div class="col-md-4 birthday-day">
                            @Html.TextBoxFor(m => m.BirthDayDay, new { @class = "form-control", placeholder = "DD", maxlength = "2", value = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-4 birthday-month">
                            @Html.TextBoxFor(m => m.BirthDayMonth, new { @class = "form-control", placeholder = "MM", maxlength = "2", value = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-4 birthday-year">
                            @Html.TextBoxFor(m => m.BirthDayYear, new { @class = "form-control", placeholder = "YYYY", maxlength = "4", value = "", autocomplete = "off" })
                        </div>
                            </div>
                    </div>
                         <hr />
                    <div class="form-group">
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Wachtwoord" })                 
                    </div>
                    <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Herhaal wachtwoord" })
                    </div>
                    <div class="form-group">
                            <input type="submit" class="reg-btn" value="Registreer" />
                    </div>
                    <div class="form-group">
                        <div class="footer-nav-link special">
                            @Html.ActionLink("Terug naar login", "Login", "Account")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
        </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>