@Scripts.Render("~/Scripts/Facedate.js")
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @TempData["Match"]

        @if (Model != null)
        {
            <div id="profile-box">
                <div class="profile-image">
                    <img id="facedate_Image" src="@Url.Content(@ViewBag.PhotoFile)" class="photosize img-responsive" />
                </div>

                <div class="col-md-12 like_box">

                    <p>
                        @Model.DisplayName
                    @Model.Years jaar oud
                </p>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink(" ", "Dislike", "Home", new { id = Model.ID }, new { id = "facedate_Dislike" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink(" ", "Like", "Home", new { id = Model.ID }, new { id = "facedate_Like" })
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
            <div>
                <label>Er zijn geen nieuwe profielen gevonden</label>
            </div>
        }
    </div>
</div>