@model Aphrodite.Front.Models.EditViewModel
@{
    ViewBag.Title = "ChangeData";
}

<div class="container">
    <h2>Profiel aanpassen</h2>
    <div class="row">
            <div id="edit-form">
                @using (Html.BeginForm("ChangeData", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessageFor(m => m.BirthDay)
                    @Html.ValidationMessageFor(m => m.BirthDayDay)
                    @Html.ValidationMessageFor(m => m.BirthDayMonth)
                    @Html.ValidationMessageFor(m => m.BirthDayYear)

                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.DisplayName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">    
                        <div class="col-md-4 birthday-day">
                                @Html.TextBoxFor(model => model.BirthDayDay, new { @class = "form-control", placeholder = Model.BirthDayDay, maxlength = "2", value = "", autocomplete = "off" })
                            </div>
                            <div class="col-md-4 birthday-month">
                                @Html.TextBoxFor(model => model.BirthDayMonth, new { @class = "form-control", placeholder = Model.BirthDayMonth, maxlength = "2", value = "", autocomplete = "off" })
                            </div>
                            <div class="col-md-4 birthday-year">
                                @Html.TextBoxFor(model => model.BirthDayYear, new { @class = "form-control", placeholder = Model.BirthDayYear, maxlength = "4", value = "", autocomplete = "off" })
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SexualPreference, htmlAttributes: new { @class = "control-label" })
                            @Html.EnumDropDownListFor(model => model.SexualPreference, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SexualPreference, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Aanpassen" class="reg-btn" />
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Terug naar je account", "Index")
                    </div>
                }
            </div>
        </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
