@model Aphrodite.Front.Models.IndexViewModel
@{
    ViewBag.Title = "Profiel";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="img-responsive">

    </div>
    <dl class="dl-horizontal">
        <dt>Voornaam:</dt>
        <dd>@ViewBag.currentUser.UserName</dd>
        <dt>E-mailadres:</dt>
        <dd>@Model.Email</dd>
        <dt>Geslacht:</dt>
        @if ( @ViewBag.currentUser.gender == 0)
        {
            <dd>Man</dd>
        }
        else
        {
            <dd>Vrouw</dd>
        }
        <dt>Geboortedatum</dt>
        <dd>@ViewBag.currentUser.BirthDay</dd>
        <dt>Locatie:</dt>
        <dd>Not added yet.</dd>
            }
         }
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            ]
            [
                @Html.ActionLink("Change your other Data", "ChangeData")
            ]
        </dd>
    </dl>
</div>
