@model Aphrodite.Front.Models.IndexViewModel
@{
    ViewBag.Title = "Profiel";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    }
    <dl class="dl-horizontal">
        <dt>DisplayName:</dt>
        <dd>@ViewBag.currentUser.DisplayName</dd>
        <dt>E-mail:</dt>
        <dd id="Sex" >@ViewBag.currentUser.Email</dd>
        <dt>Gender:</dt>
        <dd>@ViewBag.currentUser.Gender</dd>
        <dt> Sexual Preference </dt>
        <dd id="Sex">@ViewBag.currentUser.SexualPreference</dd>
        <dt>Birthday</dt>
        <dd>@ViewBag.Date</dd>
        <dt>Locatie:</dt>
        <dd>Not added yet.</dd>
        <dd>
            [
                @Html.ActionLink("Change your password", "ChangePassword")
            ]
            [
                @Html.ActionLink("Change your other Data", "ChangeData")
            ]
        </dd>
    </dl>
</div>