@model Aphrodite.Front.Models.IndexViewModel
@{
    ViewBag.Title = "Profiel";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.StatusMessage != null)
{
    <p class="text-success">@ViewBag.StatusMessage</p>
    
}

<div class="row">
    <div class="col-sm-4 nopadding">
        <div class="profile-image">
            <a href="#" data-toggle="modal" data-target="#facedatemodal">
                <img src="@Url.Content(Model.Photo)" class="photosize" />  
             </a>
         </div>
        </div>

    <div class="modal fade" id="facedatemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-navigation">
                    <div class="facedate-image-upload">
                        <a ></a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="profile-edit-info">
                        @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                        {
                            <label for="file">Filename:</label>
                            <input type="file" name="file" id="file" />

                            <input class="btn btn-default" type="submit" />
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    </div>

<div class="row">
<div class="block">
   <div class="form-horizontal">
       <div class="form-group">
           <div class="col-sm-10">
               <h3>Algemene info</h3>
           </div>
           <div class="col-sm-2">
               @Html.ActionLink("Aanpassen", "ChangeData", "Manage", new { @class = "edit-link"})
           </div>
       </div>
      <div class="form-group">
         <label class="col-sm-2 control-label">Voornaam</label>
          <div class="col-sm-10">
             <p class="form-control-static">@Model.User.DisplayName</p>
           </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">E-mailadres</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.Email</p>
            </div>
        </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">Geboortedatum</label>
           <div class="col-sm-10">
               <p class="form-control-static">@Model.BirthDay</p>
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">Geslacht</label>
           <div class="col-sm-10">
               <p class="form-control-static">@Model.User.Gender</p>
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">Sexuele voorkeur</label>
           <div class="col-sm-10">
               <p class="form-control-static">@Model.User.SexualPreference</p>
           </div>
       </div>
    </div>
</div>
</div>
<div class="row">
        @Html.ActionLink("Verander wachtwoord", "ChangePassword")
</div>

