@model Aphrodite.Front.Models.IndexViewModel
@{
    ViewBag.Title = "Profiel";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="img-responsive">

    </div>
    <dl class="dl-horizontal">
        <dt>Voornaam:</dt>
        <dd>@Model.FirstName</dd>
        <dt>E-mailadres:</dt>
        <dd>@Model.Email</dd>
        <dt>Sexuele Voorkeur:</dt>
        <dd></dd>
        <dt>Locatie:</dt>
        <dd></dd>
        <dt>Wachtwoord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            ]
        </dd>
    </dl>
</div>
