@model Aphrodite.Front.Models.IndexViewModel
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Aphrodite.Front.Models;
@{
    ViewBag.Title = "Profiel";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="img-responsive">

    </div>
    <dl class="dl-horizontal">
         @{
            if (Request.IsAuthenticated)
            {
                var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                var currentUser = manager.FindById(User.Identity.GetUserId());
                int gender = Convert.ToInt32(currentUser.Gender);
                String man = "Man";
                String Frank = "Vrouw";
        <dt>Voornaam:</dt>
        <dd>@currentUser.Firstname</dd>
        <dt>E-mailadres:</dt>
        <dd>@Model.Email</dd>
        <dt>Geslacht:</dt>
        <dd>
        @if ( @gender == 0)
        {
            @man;
        }
        else 
        {
            @Frank;
        }
         </dd>
        <dt>Geboortedatum</dt>
        <dd>@currentUser.BirthDay</dd>
        <dt>Locatie:</dt>
        <dd>Not added yet.</dd>
            }
         }
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            ]
            [
                @Html.ActionLink("Change your other Data", "ChangeData")
            ]
        </dd>
    </dl>
</div>
